@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'Labil Grotesk Basic';
  src: url('./assets/fonts/LabilGrotesk-Medium.ttf') format('truetype');
  font-weight: 500; 
  font-style: normal;
}
/* @font-face {
  font-family: 'Labil Grotesk Basic';
  src: url('/fonts/._LabilGroteskLite-Regular.otf') format('otf');
  font-weight: 600; 
  font-style: normal;
}
@font-face {
  font-family: 'Labil Grotesk Basic';
  src: url('/fonts/._LabilGroteskLite-Bold.otf') format('otf');
  font-weight: 700; 
  font-style: normal;
} */


*{
  font-family: 'Labil Grotesk Basic', sans-serif;
}

@layer utilities {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus {
    font-family: 'Labil Grotesk Basic', sans-serif !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    font-weight: 500 !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  .dark input:-webkit-autofill,
  .dark input:-webkit-autofill:hover, 
  .dark input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #1F2937 inset !important;
    -webkit-text-fill-color: white !important;
  }
}


